@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

body {
	background: #1d4f43;
	color: #1d4f43;
	font-family: 'Roboto Mono', Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	position: relative;
}
body.home {
	color: #FFF;
	background-image: url('img/endcredits.png');
	background-position: right center;
	background-size: cover;
}

.sr {
    position: fixed;
    bottom: -1px;
    right: -1px;
    width: 1px!important;
    height: 1px!important;
    padding: 0!important;
    margin: 0!important;
}

.clear {
	clear: both;
}

a {
	color: #1d4f43;
}
a:hover {
	color: #000;
}

body.home a, body.home a:hover {
	color: #FFF;
}

img {
	max-width: 100%;
}

body.home header {
	display: none;
}
#mobileimg {
	display: block;
	width: 100%;
}

h1 {
	color: #FFF;
	font-weight: normal;
	text-align: center;
}
h1 a, h1 a:hover {
	color: #FFF;
	text-decoration: none;
}
h2 {
	text-align: center;
	margin-top: 0;
}

main {
	background: #FFF;
	padding: 30px;
	margin: 30px 0;
}

.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background: #1d4f43;
	background: rgba(29,79,67,0.85);
	padding: 30px;
	margin: 0;
	width: 350px;
	text-align: center;
}
.sidebar p {
	margin: 0 0 15px;
}

.alignright {
	float: right;
	margin: 0 0 15px 15px;
	max-width: 40%;
}

.social {
	list-style: none;
	margin: 0 0 15px;
	padding: 0;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}
.social a {
	display: block;
	padding: 5px;
}
.social a svg {
	width: 30px;
	fill: #FFF;
}

@media (max-width: 1000px) {
	body.home {
		background: #1d4f43;
	}
	body.home header {
		display: block;
	}
	body.home header h1 {
		margin: 30px auto 0;
	}
	h2 span {
		display: block;
	}
	.sidebar {
		position: relative;
		top: auto;
		right: auto;
		bottom: auto;
		width: auto;
	}
}
